
		map {
			font: 12px sans-serif;
			
			
		}

		path {
			stroke-width: 20px;
			stroke:red
			fill: steelblue;
			cursor: pointer;
		}

		path:hover, path.highlighted {
			fill: tomato;
		}

		div.tooltip_view {
			/*position: absolute;
			background-color: white;
			border: 1px solid black;
			border-radius: 15px;
			border-color: #9ecaed;
			box-shadow: 0 0 10px #9ecaed;*/
			color: black;
			font-weight: bold;
			padding: 4px 8px;
			display: none;
		}

		div.mouse_hover {
			position: absolute;
			background-color: white;
			border: 1px solid black;
			border-radius: 15px;
			border-color: #9ecaed;
			box-shadow: 0 0 10px #9ecaed;
			color: black;
			font-weight: bold;
			padding: 4px 8px;
			display: none;
		}

		dt {
			width: 15px;
			height: 20px;
			display: inline-block;
			overflow: hidden;
			/*border: 1px solid #000;*/
		}
		.red {background-color: #ff6868; color: #ff6868; }
		.yellow {background-color: #fcf823; color: #fcf823; }
		.green {background-color: #4ac63f; color: #4ac63f; }
		.white {background-color: white; color: white; }

		dd {
			display: inline-block;
			width: 3em;
			margin: 0 0 0 1em;
		}

		.icon {
			top: -8px !important;
			font-size: 50px !important;
		}

		.info-box-content_button
		{
			padding:5px 10px;margin-left:56px
		}

		.buttontype:hover{color:black;border: 1px solid black;}

		.info-box-icon_button
		{
			border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px;display:block;float:left;height:60px;width:56px;text-align:center;font-size:45px;line-height:80px;background:rgba(0,0,0,0.2)
		}
		.info-box-icon_button2
		{
			border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px;display:block;float:left;height:60px;width:56px;text-align:center;font-size:45px;line-height:80px;background:rgba(0,0,0,0.2)
		}


		.info-box_button{display:block;min-height:80px;background:#fff;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1);border-radius:2px;margin-bottom:15px}


		.info-box1{display:block;min-height:65px;background:#fff;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1);border-radius:2px;margin-bottom:15px}
		.info-box2{display:block;min-height:80px;background:#fff;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1);border-radius:2px;margin-bottom:15px}
		.info-box3{display:block;min-height:55px;background:#fff;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1);border-radius:2px;margin-bottom:15px}
		.info-box1 .info-box-number{font-size:14px;}
