.select2-container--default .select2-selection--single, .form-control{
	border-radius:0;
	height:28px;
	border-color:#d2d6de;
	font-size: 12px;
}

.btn-box-tool .fa-remove{
	color:#C00404;
	display:none;
}

.btn-box-tool .fa-remove:hover{
	color:#F00;
}

.box-footer{
	margin-top:0px;
}

.form-group label{
	font-weight: bold;
	font-size: 14px;
}

.main-footer {
    overflow:auto;
}

.content-wrapper{
	min-height: 850px;
	background-color:#d2d6de;
}
.content{
	min-height: 900px;
	background-color:#d2d6de;
}

.box-title strong{
	font-weight:bold;
	margin-left: 15px;
}
.box-header {
    background-color: #CFE5F2;
}

.box-default{
	border-top-color: #3c8dbc !important;
}

.content{
	padding-top: 30px;
}

.provider-selection-area{
	background-color:#F1F1F1;
	padding-top:30px;
	padding-bottom:30px;
}

.transfer-area{
	background-color:#e7e9ec;
	padding-top:30px;
	padding-bottom:30px;
}

.selection-header{
	padding: 10px;
	font-size: 16px;
	color: #16608C;
}

fieldset{
	padding: .35em .625em .75em;
	margin: 10px 15px 30px 15px;
	border: 1px solid #c0c1c2;
}

fieldset legend {
    display: inline-block;
    width: auto;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #333;
    border: 1;
    border-bottom: none;
    padding-right: 10px;
}