/**
 * @author sabah.mugab
 */
.loadPopup{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index:800;
	/*border:5px solid black;
    background-color:#ffffff;*/
	padding:25px;
	font-size:150%;
	color: black;
	text-align:left;
	opacity:1;
	pointer-events: auto;
	display: none;
	overflow:auto;}

.div_footer{
	width: 100%;
	text-align: center;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .eclampsia { background-color: #f39b71; }
.legend .high_bp_albumin { background-color: #eee861; }
.legend .high_bp { background-color: #8c91cf; }
.legend .weight_2000 { background-color: #FFFF99; }
.legend .weight_1800 { background-color: #FFD27F; }
.legend .weight_1200 { background-color: #FFACBC; }
.legend .weight_less_1200 { background-color: #FF8484; }
.legend .no_recent_login { background-color: #f39b71; }
.legend .hb_ll_29 { background-color: #8c91cf; }
.legend .registration_problem { background-color: #ff001882; }

/*positionig diolog box(#model-box)*/
.ui-widget.ui-widget-content {
	z-index: 1000 !important;
}
