body{
    background-color:#FFF;
}

.content{
    background-color: #FFF;
}
/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
}
.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}


.leaflet-container {
    background: #fff;
}

/*Style for map label font size color etc */
.areaLabel{
    background:none;
    margin:0px;
    padding:0px;
    border:none;

    box-shadow:none;
    color:#000;
}

.geojsonMarkerOptions{
    radius: 8;
    fillColor: "#ff7800";
    color: #000;
    weight: 1;
    opacity: 1;
    fillOpacity: 0.8;
}

.bread-crumb ul li{
    font-weight:bold;
    cursor:pointer;

}
.leaflet-control-attribution{
    display:none !important;
}


.panel-style1{
    border-color: #4BB378;
}
.panel-style1 .panel-heading {
    color: #FFF;
    background-color: #4BB378;
    border-color: #4BB378;
}

.panel-style2{
    border-color: #8EC971;
}
.panel-style2 .panel-heading {
    color: #FFF;
    background-color: #8EC971;
    border-color: #8EC971;
}

.panel-style3{
    border-color: #C0D965;
}
.panel-style3 .panel-heading {
    color: #FFF;
    background-color: #C0D965;
    border-color: #C0D965;
}


.panel-style4{
    border-color: #F3EB53;
}
.panel-style4 .panel-heading {
    color: #FFF;
    background-color: #F3EB53;
    border-color: #F3EB53;
}

.panel-style5{
    border-color: #FCC84B;
}
.panel-style5 .panel-heading {
    color: #FFF;
    background-color: #FCC84B;
    border-color: #FCC84B;
}

.panel-style6{
    border-color: #F7A264;
}
.panel-style6 .panel-heading {
    color: #FFF;
    background-color: #F7A264;
    border-color: #F7A264;
}

.panel-style7{
    border-color: #E57D73;
}
.panel-style7 .panel-heading {
    color: #FFF;
    background-color: #E57D73;
    border-color: #E57D73;
}

.banner{
    padding:15px 0px;
    border-bottom:solid 2px #E57D73;
    margin-bottom:15px;
}
.breadcrumb{
    margin-bottom:15px;
}
.breadcrumb li a {
    font-size:1em;
    color:#000;
    font-weight:bold;
}

.banner{
    display:inline-block;
    width:100%;
    text-align:justify;
}

.banner .logo{
    display:inline-block;
}

.banner:after{
    width:100%;
    content:"";
    display:inline-block;
}

#map-container{
    height:700px;
    background-color:#aad3df;

}

.panel-map{
    background-color: #aad3df;
}

.my-label {
    position: absolute;
    width:1000px;
    font-size:20px;
}
.table-bg{
    background-color: #6e94b5;
    color:#FFF;
}

.table>tbody>tr>td{
    padding: 4px;
}
.table{
    margin-bottom: 0px;
}

.district-title{
    margin-bottom: 0px;
    margin-top: 0px;
    color:#000;
    text-shadow: 1px 1px 2px #DDD;
}
.title-panel-body{
    padding-bottom: 3px;
    padding-bottom: 3px;

}

.area-name{
    color:#2ab0ed;
}

.table.tbl-hover tbody tr:hover{
    background-color: #36a2eb;
    color:#FFF;
}

.leaflet-popup-content{
    width: 350px;
}
.popoup-panel-title{
    border-bottom: solid 1px #DDD;
    padding: 3px;
    font-weight: bold;
}
#pop-chart{
    height: 150px !important;
    width: 300px !important;
}

.icons{
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.hilight{
    border-color:#035feeb0;
    font-weight: bold;
}

.panel-heading .panel-title{
    font-weight: bold;
    font-size: 14px;
}


.population-panel .panel-heading{
    background-color: #91fdcc;
}

.emis-coverage-panel .panel-heading{
    background-color: #ffd695;
}

.gp-panel .panel-heading{
    background-color: #82e1f9;
}

.delivery-panel .panel-heading{
    background-color: #47eea2;
}

.mnh-panel .panel-heading{
    background-color: #fdf4c7;
}

.fp-panel .panel-heading{
    background-color: #deffd3;
}

.table tr{
    background-color: #fbfeff;
}

.table tr td {
    border-color:#ececec;
}
.delivery-well{
    background-color:#8cc4ff;
    margin-top: -0px;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    color:#FFF;
    text-shadow: 1px 1px 2px #000;
}

.delivery-well h3{
    margin:0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.tab-content{
    padding: 10px;
    border-right: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    border-left: solid 1px #DDD;
}

#mnhc_delivery{
    display: inline-block;
    margin-left: 50px;
    background-color:#e1776c !important;
    font-size: 22px;
}

.panel {
    box-shadow: 0px 1px 3px #8c8c8c;
}

.cards-containers{
    width: 100%;
    height: 100px;
    text-align:justify;
    margin-bottom: 20px;
}

.cards-containers .cards{
    width: 32%;
    height: 100px;
    display: inline-block;
    background-position:right;
    box-shadow: 0px 1px 5px #8c8c8c;
    border-radius: 2px;
    padding:10px;
    overflow: hidden;
    position: relative;

}
.cards-containers .cards.cards-primary {
    background-image: url("../image/dashboard/cardbg1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-containers .cards-secondary {
    background-image: url("../image/dashboard/cardbg2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-containers .cards-third {
    background-image: url("../image/dashboard/cardbg3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-containers:after{
    content: "";
    width: 100%;
    display: inline-block;
}

.cards-containers .cards .cards-heading{
    font-weight: bold;
}

.cards-containers .cards .cards-body {
    text-align: right;
    font-size: 2.1vw;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    right: 10px;
    text-shadow: 1px 1px 1px #131313;

}

.cards-containers .cards.cards-primary .cards-body {
    color: #FF6C00;
}

.cards-containers .cards.cards-secondary .cards-body {
    color: #4473CE;
}

.cards-containers .cards.cards-third .cards-body {
    color: #2C932C;
}

.cards-icon{
    position: absolute;
    left: 10px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    z-index: 1;
    opacity: .5;
}

.cards-icon img{
    width: 100%;
    height: 100%;
}

.cards-footer{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 11px;
    color: #000;
}



@media only screen and (max-width: 800px) and (min-width: 400px) {
    .cards-containers .cards .cards-body {
        font-size: 4vw;
    }

    #map-container{
        /*height:350px !important;*/
    }
    .cards-containers .cards .cards-body{
        top: 35px;
    }
}

@media only screen and (max-width: 1080px) and (min-width: 800px) {
    #map-container{
        /*height:350px !important;*/
    }
     .cards-containers .cards .cards-body{
        top: 30px;
    }
}

@media only screen and (min-width: 1080px) {
    #map-container{
        height:700px !important;
    }
}

#pre-loader{
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 1px 5px #827d7d;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    top: 50%;
    z-index: 1500;
    left: 40%;
}

#preloader-image{
    width:50px;
    float: left;
    margin-right: 25px;
}

#preloader-text{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
